* {
	margin: 0px;
	padding: 0px;
	text-align:center;
}

body {
	text-align: center;
	background: #333333 url(../images/background.png) top center repeat-y;
	padding-top:0px;
	display:inline-block;
	width:700px;
}

section{
	display:block;
	text-align: center;
	margin:auto;
}

footer {
	text-align:center;
	font-size: 10px;
	font-weight: bold;
	display:inline-block;
	bottom:10px;
}

.half {
	display: inline-block;
	text-align:justify;
	width:340px;
	margin:5px;
}

.right {
	float:right;
}

.justify {
	text-align: justify;
}

.smaller {
	font-size: 10px;
	margin:0px;
	padding:0px;
}