* {
	margin: 0px;
	padding: 0px;
	text-align:center;
}

body {
	text-align: center;
	background: #333333 url(../images/background.png) top center repeat-y;
	padding-top:0px;
	display:inline-block;
}

section{
	display:block;
	text-align: center;
	margin:auto;
}

footer {
    margin-top:10px;
	text-align:center;
	font-size: 10px;
	font-weight: bold;
	display:inline-block;
}

.half {
	text-align:justify;
	margin-top:50px;
    min-width:300px;
}

.closeCross {
    margin-left:10px;
}

.expandWindow {
    margin-right:10px;
}

.divLinkList {
    margin-bottom:15px;
}

.justify {
	text-align: justify;
}

.smaller {
	font-size: 10px;
	margin:0px;
	padding:0px;
}

.clickable {
	cursor: pointer;
}