<p class="back-button">Hello</p>
<br />
<input type="text" name="title" id="title" placeholder="Title..." ng-model="post.title" class="form-control justify" />
<br />
<textarea name="content" id="content" ng-model="post.content" placeholder="Content of the post..." class="form-control justify" rows="15">
</textarea>
<br />
<input type="hidden" name="id" id="id" ng-model="post.id" />
<input type="button" ng-click="sendPost();" ng-disabled='!post.content || !post.title' value="Save Post" class="form-control btn btn-primary" />